.hero {
  padding: 120px 20px 60px 20px;
  background-image: url(/assets/hero-bg.png);
  color: #fff;
  background-repeat: no-repeat;
}

.container {
  max-width: 1305px;
  margin: 0 auto;
  display: flex;
  gap: 36px;
  align-items: center;
}

.left {
  min-width: 700px;
  position: relative;
  z-index: 2;
}

.title {
  font-size: 98px;
  line-height: 0.90;
  margin: 0 0 18px 0;
  color: #fff;
  font-family: 'Bebas Neue';
}

.titleAccent {
  /* Use only the gradient you want to see */
  background: linear-gradient(101.53deg, #FF9C1C 3.95%, #F9B953 25.99%, #FF9C1C 61.02%, #FFC466 74.88%, #FF9C1C 87.55%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-origin: border-box;
}

.lead {
  max-width: 600px;
  color: white;
  margin-bottom: 32px;
  font-size: 19px;
  font-family: 'Inter';
}

.features {
  display: flex;
  gap: 16px;
  margin-bottom: 28px;
}
.features:first-child {
  max-width: 240px;
}

.features:last-child {
  max-width: 280px;
}

.featureBox {
  display: flex;
  font-family: 'Inter';
  font-size: 19px;
  gap: 12px;
  align-items: flex-start;
  padding: 14px 18px;
  border: 2px solid transparent;
  border-radius: 24px; /* Теперь работает! */
  background-image: 
    linear-gradient(black, black), /* Цвет фона контента */
    linear-gradient(124.35deg, #FF9F23 3.69%, #2A0C00 45.84%, #D28520 98.89%);
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
}
.featureBoxFirst {
  max-width: 240px;
}
.featureBoxSecond {
  max-width: 300px;
}

.check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 22px;
  max-width: 22px;
  height: 22px;
}

.cta {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-top: 6px;
  padding: 12px 20px 12px 12px;
  background: linear-gradient(106deg, #FF9C1C 5.27%, #FFCB78 22.82%, #FF9C1C 75.97%, #FFCB78 93.14%, #FF9C1C 108.83%);
  color: #080808;
  border-radius: 999px;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  font-family: 'Ubuntu';
}

.ctaIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,0.06);
  border-radius: 50%;
}

.right {
  min-width: 720px;
    position: relative;
    left: -120px;
  display: flex;
  justify-content: center;
}

.device {
  
}

@media (max-width: 900px) {
  .container { flex-direction: column; padding: 0 12px; }
  .title { font-size: 36px; text-align: center; }
  .left { text-align: center; }
  .right { margin-top: 20px; }
  .features { justify-content: center; flex-direction: column; }
}

