.cta {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-top: 6px;
  padding: 12px 20px 12px 12px;
  background: linear-gradient(106deg, #FF9C1C 5.27%, #FFCB78 22.82%, #FF9C1C 75.97%, #FFCB78 93.14%, #FF9C1C 108.83%);
  color: #080808;
  border-radius: 999px;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  font-family: 'Ubuntu';
}

.ctaIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,0.06);
  border-radius: 50%;
}
