.wrapper {
  display: flex;
  justify-content: center;
  padding: 18px 12px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
}

.inner {
  width: 100%;
  max-width: 1304px;
  background: #000000;
  color: #f7f7f7;
  border-radius: 40px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 24px;
  box-shadow: 0px 4px 24.4px 0px #A05C0440;
  border: 1px solid transparent;
  border-radius: 12px; /* Теперь работает! */
  background-image: 
    linear-gradient(black, black), /* Цвет фона контента */
    linear-gradient(124.35deg, #FE7905 3.69%, #2A0C00 45.84%, #A93301 98.89%);
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
}

.left {
  display: flex;
  align-items: center;
  min-width: 160px;
}

.logo {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  max-width: 140px;
}

.logoMark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.brand {
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffd86b;
}

.nav {
  display: flex;
  gap: 14px;
  align-items: center;
  flex: 1 1 auto;
  justify-content: center;
}

.navLink {
  color: rgba(255,255,255,0.85);
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  
}

.navLink:hover {
  background: rgba(255,255,255,0.03);
}

.navIcon {
  display: inline-flex;
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,0.9);
}

.navIcon svg {
  width: 18px;
  height: 18px;
  display: block;
}

.navText {
  line-height: 1;
  font-family: 'Ubuntu';
  font-weight: 500;
  line-height: 150%;
  font-size: 12px;
}

.actions {
  display: flex;
  align-items: center;
}

.cta {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  background: #ffd43b;
  color: #0b0b0b;
  padding: 8px 16px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  font-family: 'Ubuntu';
}

.ctaIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .nav { display: none; }
  .inner { padding: 8px 12px; }
}

