.cta {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-top: 6px;
  padding: 12px 20px 12px 12px;
  background: linear-gradient(106deg, #FF9C1C 5.27%, #FFCB78 22.82%, #FF9C1C 75.97%, #FFCB78 93.14%, #FF9C1C 108.83%);
  color: #080808;
  border-radius: 999px;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  font-family: 'Ubuntu';

  &.outline {
    background: linear-gradient(102deg, #FF8C27 3.95%, #FFC15D 18.11%, #FF8C27 31.33%, #FFC15D 47.04%, #FF8C27 61.02%, #FFC15D 74.88%, #FF8C27 87.55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #FF9C1C;
    color: #FF9C1C;
  }
}

.ctaIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,0.06);
  border-radius: 50%;
}
@media (max-width: 768px) {
  .cta {
    font-size: 14px;
  }
}
