.header {
  text-align: center;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
    &.left {
        text-align: left;
        align-items: flex-start;
        
    }
}


.kicker {
  display: block;
  color: #343434;
  font-size: 100px;
  line-height: 0.7;
  font-family: 'Kurut', sans-serif;
  margin-bottom: 6px;
}

.title {
  font-size: 66px;
  line-height: 0.8;
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
  font-weight: 400;
}

.accent {
  background: linear-gradient(101.53deg, #ff9c1c 3.95%, #f9b953 25.99%, #ff9c1c 61.02%, #ffc466 74.88%, #ff9c1c 87.55%) border-box;
    -webkit-background-clip: text;
    background-clip: text;
}